* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
    margin: 0 1.25rem 2.5rem;
    width: 1168px;
}

.container_header {
    width: 100%;
    height: 3.75rem;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: -1px;
    font-weight: 700;
    padding: 1.25rem;
}

#container_diary {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.diary_title {
    margin-top: 4rem;
    width: 100%;
    height: 2.25rem;
    border-bottom: 2px solid black;
    h1 {
        font-size: 22px;
        line-height: 24px;
        font-weight: 700;
        letter-spacing: -1px;
    }
}

.diary_second_line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.emotion {
    display: flex;
    align-items: center;
}

.emotion_img {
    width: 2rem;
}

.emotion_name {
    margin: 1rem 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: -1px;
}

.diary_contents {
    width: 100%;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.8125rem;
    h1 {
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: -1px;
    }
}

.contents_read {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -1px;
}

.diary_buttons {
    width: 100%;
    display: flex;
    justify-content: right;
    gap: 0.9375rem;
}

.diary_back {
    width: 5rem;
    height: 3rem;
    border-radius: 0.625rem;
    border: 1px solid black;
    color: black;
    background-color: white;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -1px;
}

.diary_modify {
    width: 5rem;
    height: 3rem;
    border-radius: 0.625rem;
    border: 1px solid black;
    color: black;
    background-color: white;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -1px;
}

.diary_chat_container {
    margin-top: 0.9375rem;
    border-top: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.chat_container_title {
    margin-top: 0.9375rem;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: -1px;
}

.chat_container_input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input_box {
    border: 1px solid black;
    border-radius: 8px;
    padding: 0.9375rem;
    height: 3rem;
    width: 67.125rem;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -1px;
}

.input_button {
    width: 5rem;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid black;
    color: white;
    background-color: black;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -1px;
}

.chat_list {
    margin-top: 1.25rem;
}

.chat_box {
    height: 3.75rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    border-bottom: 1px solid rgb(197, 197, 197);
}

.chat_box_content {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -1px;
}

.modify_container {
    width: 100%;
    margin-top: 4rem;
}

.plus_writing {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.writing_emotion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.emotion_title {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -1px;
}  

.emotion_choose {
    display: flex;
    gap: 1.25rem;
}

.writing_diary {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.writing_title div {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -1px;
    margin-bottom: 0.5rem;
}

.writing_title input {
    width: 100%;
    height: 3rem;
    border: 1px solid #D4D3D3;
    border-radius: 10px;
    padding: 0.75rem 1rem;
}

.writing_contents div {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -1px;
}

.writing_contents textarea {
    text-align:start;
    width: 100%;
    height: 8rem;
    border: 1px solid #D4D3D3;
    border-radius: 10px;
    padding: 0.75rem 1rem;
}
