* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 20px 40px;
    width: 1168px;
}

.container_header {
    width: 100%;
    height: 60px;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: -1px;
    font-weight: 700;
    padding: 20px;
}

.container_banner {
    width: 100%;
    padding: 24px 0;
}

.container_nav {
    width: 100%;
    gap: 16px;
    display: flex;
}

.nav_selected {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -1px;
    height: 50px;
    padding: 12px 8px;
    border-bottom: 2px solid black;
} 

.nav_unselected {
    color: #ABABAB;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -1px;
    height: 50px;
    padding: 12px;
}

.container_findAndPlus {
    margin-top: 32px;
    width: 100%;
    gap: 16px;
    display: flex;
    justify-content: space-between;
}

#emotion_filter {
    width: 120px;
    height: 48px;
    border: 1px solid #C7C7C7;
    border-radius: 10px;
    padding: 10px 12px;
}

.container_table {
    margin-top: 40px;
    display: flex;
}

#table_items {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.diary_container {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    transition: 
        transform 0.5s,
        filter 0.5s;
}

.diary_container:hover {
    transform: scale(1.1);
    filter: blur(5px);
}

.diary_down {
    padding: 8px;
}

.diary_container img {
    width: 100%;
    border-radius: 15px;
}

.diary_first_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.emotion_name {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -1px;
}

.diary_date {
    color: #919191;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -1px;
}

.diary_title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: -1px;
}

.table_plus {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    height: 400px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 24px;
}

.plus_name {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -1px;
}

.plus_writing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.writing_emotion {
    width: 100%;
}

/* 푸터는 어떻게 설정하는지 더 공부해보자 */
.footer {
    background-color: #F2F2F2;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 24px;
}

.footer_container {
    min-width: 1168px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: -1px;
}